@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: #150e28;
  color: #fff;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #903aff;
  border-left: 0.5px solid #903aff;
  border-right: 0.5px solid #903aff;
  border-radius: 10px;
}
